# Introduction to Recommendation Systems

In this tutorial we are going to use a [deep autoencoder](https://arxiv.org/abs/1708.01715) to perform collaborative filtering in the [Netflix dataset](https://netflixprize.com/). 

[Collaborative filtering](https://en.wikipedia.org/wiki/Collaborative_filtering) is one of the most pupular techniques in recommendation systems. It is based on inferring the missing entries in an `mxn` matrix, `R`, whose `(i, j)` entry describes the ratings given by the `ith` user to the `jth` item. The performance is then measured using Root
Mean Squared Error (RMSE).

<p align="center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/5/52/Collaborative_filtering.gif" width=300px/>
</p>

The code in this tutorial is done with [PyTorch](http://pytorch.org/) and is based on [this repo](https://github.com/NVIDIA/DeepRecommender) by NVIDIA.

In [1]:
import sys
import os
import numpy as np
import pandas as pd
import torch
from utils import get_gpu_name, get_number_processors, get_gpu_memory, get_cuda_version

print("OS: ", sys.platform)
print("Python: ", sys.version)
print("PyTorch: ", torch.__version__)
print("Numpy: ", np.__version__)
print("Number of CPU processors: ", get_number_processors())
print("GPU: ", get_gpu_name())
print("GPU memory: ", get_gpu_memory())
print("CUDA: ", get_cuda_version())

%matplotlib inline
%load_ext autoreload
%autoreload 2

OS:  linux
Python:  3.5.4 | packaged by conda-forge | (default, Nov  4 2017, 10:11:29)
[GCC 4.8.2 20140120 (Red Hat 4.8.2-15)]
PyTorch:  0.3.0.post4
Numpy:  1.14.0
Number of CPU processors:  24
GPU:  ['Tesla M60', 'Tesla M60', 'Tesla M60', 'Tesla M60']
GPU memory:  ['8123 MiB', '8123 MiB', '8123 MiB', '8123 MiB']
CUDA:  CUDA Version 8.0.61

## Dataset: Netflix

This dataset was constructed to support participants in the [Netflix Prize](http://www.netflixprize.com). The movie rating files contain over 100 million ratings from 480 thousand randomly-chosen, anonymous Netflix customers over 17 thousand movie titles.  The data were collected between October, 1998 and December, 2005 and reflect the distribution of all ratings received during this period.  The ratings are on a scale from 1 to 5 (integral) stars.

The dataset can be [downloaded here](http://academictorrents.com/details/9b13183dc4d60676b773c9e2cd6de5e5542cee9a). To uncompress it:

```bash
tar -xvf nf_prize_dataset.tar.gz
tar -xf download/training_set.tar
```

When we download the data, there are two important files:

1) The file `training_set.tar` is a tar of a directory containing 17770 files, one per movie.  The first line of each file contains the movie id followed by a colon.  Each subsequent line in the file corresponds to a rating from a customer and its date in the following format:

CustomerID,Rating,Date
- MovieIDs range from 1 to 17770 sequentially.
- CustomerIDs range from 1 to 2649429, with gaps. There are 480189 users.
- Ratings are on a five star (integral) scale from 1 to 5.
- Dates have the format YYYY-MM-DD.

2) Movie information in `movie_titles.txt` is in the following format:

MovieID,YearOfRelease,Title

- MovieID do not correspond to actual Netflix movie ids or IMDB movie ids.
- YearOfRelease can range from 1890 to 2005 and may correspond to the release of corresponding DVD, not necessarily its theaterical release.
- Title in English is the Netflix movie.

### Data prep

The first step is to covert the data to the correct format for the autoencoder to read. This can take between 1 to 2 hours.

In [2]:
DATA_ROOT = '/datadrive'
NF_PRIZE_DATASET = os.path.join(DATA_ROOT, 'netflix','download','training_set') #location of extracted data
NF_DATA = 'Netflix'

In [ ]:
%%time
%run ./DeepRecommender/data_utils/netflix_data_convert.py $NF_PRIZE_DATASET $NF_DATA

The script splitted the data into train, test and validation set, creating files with three columns: `CustomerID,MovieID,Rating`. The data is splitted over time generating 4 datasets: Netflix 3months, Netflix 6 months, Netflix 1 year and Netflix full. Here there is a table with some details of each dataset:

| Dataset  | Netflix 3 months | Netflix 6 months | Netflix 1 year | Netflix full |
| -------- | ---------------- | ---------------- | ----------- |  ------------ |
| Ratings train | 13,675,402 | 29,179,009 | 41,451,832 | 98,074,901 |
| Users train | 311,315 |390,795  | 345,855 | 477,412 |
| Items train | 17,736 |17,757  | 16,907 | 17,768 |
| Time range train | 2005-09-01 to 2005-11-31 | 2005-06-01 to 2005-11-31 | 2004-06-01 to 2005-05-31 | 1999-12-01 to 2005-11-31
|  |  |  |   | |
| Ratings test | 2,082,559 | 2,175,535  | 3,888,684| 2,250,481 |
| Users test | 160,906 | 169,541  | 197,951| 173,482 |
| Items test | 17,261 | 17,290  | 16,506| 17,305 |
| Time range test | 2005-12-01 to 2005-12-31 | 2005-12-01 to 2005-12-31 | 2005-06-01 to 2005-06-31 | 2005-12-01 to 2005-12-31

Let's take a look at one of the files.

In [7]:
nf_3m_valid = os.path.join(NF_DATA, 'N3M_VALID', 'n3m.valid.txt')
df = pd.read_csv(nf_3m_valid, names=['CustomerID','MovieID','Rating'], sep='\t')
print(df.shape)
df.head()

(1041739, 3)

   CustomerID  MovieID  Rating
0           0     1549     1.0
1           0     5144     2.0
2           0     7716     3.0
3           0     8348     3.0
4           0     4635     2.0

## Deep Autoencoder for Collaborative Filtering

Once we have the data, let's explain in some detail the model that we are going to use. The [model](https://arxiv.org/abs/1708.01715) developed by NVIDIA folks is a Deep autoencoder with 6 layers with non-linear activation function SELU (scaled exponential linear units), dropout and iterative dense refeeding.

An autoencoder is a network which implements two transformations: $encode(x) : R^n → R^d$ and $decoder(z) : R^d → R^n$. The “goal” of autoenoder is to obtain a $d$ dimensional representation of data such that an error measure between $x$ and $f(x) = decode(encode(x))$ is minimized. In the next figure, the autocoder architecture proposed in the [paper](https://arxiv.org/abs/1708.01715) is showed. Encoder has 2 layers $e_1$ and $e_2$ and decoder has 2 layers $d_1$ and $d_2$. Dropout may be applied to coding layer $z$. In the paper, the authors show experiments with different number of layers, from 2 to 12 (see Table 2 in the original paper).

<p align="center">
    <img src="./data/AutoEncoder.png" width=350px/>
</p>

During the forward pass the model takes a user representation by his vector of ratings from the training set $x \in R^n$, where $n$ is number of items. Note that $x$ is very sparse, while the output of the decoder, $y=f(x) \in R^n$ is dense and contains the rating predictions for all items in the corpus. The loss is the root mean squared error (RMSE).

One of the key ideas of the paper is dense re-feeding. Let's consider an idealized scenario with a perfect $f$. Then $f(x)_i = x_i ,∀i : x_i \ne 0$ and $f(x)_i$ accurately predicts all user's future ratings. This means that if a user rates a new item $k$ (thereby creating a new vector $x'$) then $f(x)_k = x'_k$ and $f(x) = f(x')$. Therefore, the authors refeed the input in the autoencoder to augment the dataset. The method consists of the following steps:

1. Given a sparse $x$, compute the forward pass to get $f(x)$ and the loss.

2. Backpropagate the loss and update the weights.

3. Treat $f(x)$ as a new example and compute $f(f(x))$

4. Compute a second backward pass.

Steps 3 and 4 can be repeated several times.

Finally, the authors explore different non-linear [activation functions](https://github.com/pytorch/pytorch/blob/master/torch/nn/functional.py). They found that on this task ELU, SELU and LRELU, which have non-zero negative parts, perform much better than SIGMOID, RELU, RELU6, and TANH.

In [22]:
#Parameters
TRAIN = os.path.join(NF_DATA, 'N3M_TRAIN') #os.path.join(NF_DATA, 'NF_TRAIN')
EVAL = os.path.join(NF_DATA, 'N3M_VALID') #os.path.join(NF_DATA, 'NF_VALID')
TEST = os.path.join(NF_DATA, 'N3M_TEST') #os.path.join(NF_DATA, 'NF_TEST')
GPUS = 0 #'0,1,2,3'
ACTIVATION = 'selu'
OPTIMIZER = 'momentum'
HIDDEN = '512,512,1024'
BATCH_SIZE = 128
DROPOUT = 0.8
LR = 0.005
WD = 0
EPOCHS = 10
AUG_STEP = 1
MODEL_OUTPUT_DIR = 'model_save'

In [20]:
%run ./DeepRecommender/run.py --gpu_ids $GPUS \
    --path_to_train_data $TRAIN \
    --path_to_eval_data $EVAL \
    --hidden_layers $HIDDEN \
    --non_linearity_type $ACTIVATION \
    --batch_size $BATCH_SIZE \
    --logdir $MODEL_OUTPUT_DIR \
    --drop_prob $DROPOUT \
    --optimizer $OPTIMIZER \
    --lr $LR \
    --weight_decay $WD \
    --aug_step $AUG_STEP \
    --num_epochs $EPOCHS

Namespace(aug_step=1, batch_size=128, constrained=False, drop_prob=0.8, gpu_ids='0', hidden_layers='512,512,1024', logdir='model_save', lr=0.005, noise_prob=0.0, non_linearity_type='selu', num_epochs=10, optimizer='momentum', path_to_eval_data='Netflix/N3M_VALID', path_to_train_data='Netflix/N3M_TRAIN', skip_last_layer_nl=False, weight_decay=0.0)
Loading training data from Netflix/N3M_TRAIN
Data loaded
Total items found: 311315
Vector dim: 17736
Loading eval data from Netflix/N3M_VALID
******************************
******************************
[17736, 512, 512, 1024]
Dropout drop probability: 0.8
Encoder pass:
torch.Size([512, 17736])
torch.Size([512])
torch.Size([512, 512])
torch.Size([512])
torch.Size([1024, 512])
torch.Size([1024])
Decoder pass:
torch.Size([512, 1024])
torch.Size([512])
torch.Size([512, 512])
torch.Size([512])
torch.Size([17736, 512])
torch.Size([17736])
******************************
******************************
Using GPUs: [0]
Doing epoch 0 of 10
Total epoch 0 finished in 69.39120125770569 seconds with TRAINING RMSE loss: 1.1183533288603893
Epoch 0 EVALUATION LOSS: 0.997187149064757
Doing epoch 1 of 10
Total epoch 1 finished in 69.05308318138123 seconds with TRAINING RMSE loss: 0.9789836858425376
Epoch 1 EVALUATION LOSS: 0.9830844731127444
Doing epoch 2 of 10
Total epoch 2 finished in 68.9950942993164 seconds with TRAINING RMSE loss: 0.9593065493420863
Epoch 2 EVALUATION LOSS: 0.98861261075587
Doing epoch 3 of 10
Total epoch 3 finished in 69.13668775558472 seconds with TRAINING RMSE loss: 0.9464339257342224
Epoch 3 EVALUATION LOSS: 0.9762008394628371
Doing epoch 4 of 10
Total epoch 4 finished in 69.09636783599854 seconds with TRAINING RMSE loss: 0.9355610656442712
Epoch 4 EVALUATION LOSS: 0.9808872814542353
Doing epoch 5 of 10
Total epoch 5 finished in 69.17095017433167 seconds with TRAINING RMSE loss: 0.9258845933913559
Epoch 5 EVALUATION LOSS: 0.9842890565637975
Doing epoch 6 of 10
Total epoch 6 finished in 69.08278322219849 seconds with TRAINING RMSE loss: 0.9622985019130311
Epoch 6 EVALUATION LOSS: 0.9838701840431763
Doing epoch 7 of 10
Total epoch 7 finished in 69.04743361473083 seconds with TRAINING RMSE loss: 0.9337027765558531
Epoch 7 EVALUATION LOSS: 0.984365107262594
Doing epoch 8 of 10
Total epoch 8 finished in 69.1117844581604 seconds with TRAINING RMSE loss: 0.9205498934527924
Epoch 8 EVALUATION LOSS: 0.9750949946703523
Doing epoch 9 of 10
Total epoch 9 finished in 69.13744783401489 seconds with TRAINING RMSE loss: 0.9099730840527471
Epoch 9 EVALUATION LOSS: 0.9742177051690417
Saving model to model_save/model.epoch_9
Routine finished. Process time 2747.513389825821 s

## Evaluation
Now we are going to evaluate the model on the test set and compute the final loss.

In [27]:
INFER_OUTPUT = 'preds.txt'
MODEL_PATH = os.path.join(MODEL_OUTPUT_DIR, 'model.epoch_' + str(EPOCHS-1))

In [30]:
%run ./DeepRecommender/infer.py \
--path_to_train_data $TRAIN \
--path_to_eval_data $TEST \
--hidden_layers $HIDDEN \
--non_linearity_type $ACTIVATION \
--save_path  $MODEL_PATH \
--drop_prob $DROPOUT \
--predictions_path $INFER_OUTPUT

Namespace(constrained=False, drop_prob=0.8, hidden_layers='512,512,1024', non_linearity_type='selu', path_to_eval_data='Netflix/N3M_TEST', path_to_train_data='Netflix/N3M_TRAIN', predictions_path='preds.txt', save_path='model_save/model.epoch_9', skip_last_layer_nl=False)
Loading training data
Data loaded
Total items found: 311315
Vector dim: 17736
Loading eval data
******************************
******************************
[17736, 512, 512, 1024]
Dropout drop probability: 0.8
Encoder pass:
torch.Size([512, 17736])
torch.Size([512])
torch.Size([512, 512])
torch.Size([512])
torch.Size([1024, 512])
torch.Size([1024])
Decoder pass:
torch.Size([512, 1024])
torch.Size([512])
torch.Size([512, 512])
torch.Size([512])
torch.Size([17736, 512])
torch.Size([17736])
******************************
******************************
Loading model from: model_save/model.epoch_9
Done: 0
Done: 10000
Done: 20000
Done: 30000
Done: 40000
Done: 50000
Done: 60000
Done: 70000
Done: 80000
Done: 90000
Done: 100000
Done: 110000
Done: 120000
Routine finished. Process time 228.1412889957428 s

In [31]:
%run ./DeepRecommender/compute_RMSE.py --path_to_predictions=$INFER_OUTPUT

Namespace(path_to_predictions='preds.txt', round=False)
####################
RMSE: 0.9746437597050387
####################

Let's do something more real

In [32]:
MOVIE_TITLES = os.path.join('data','movie_titles.txt')

In [35]:
titles = pd.read_csv(MOVIE_TITLES, names=['MovieID','Year','Title'], encoding = "latin")
titles.head()

   MovieID    Year                         Title
0        1  2003.0               Dinosaur Planet
1        2  2004.0    Isle of Man TT 2004 Review
2        3  1997.0                     Character
3        4  1994.0  Paula Abdul's Get Up & Dance
4        5  2004.0      The Rise and Fall of ECW

In [43]:
me_gusta = [13, 191, 209, 316, 345, 468, 560, 752, 1066, 1551, 1601, 1905, 2189, 2252, 5507] 
me_gusta_pred = [2452, 2532, 2689, 3012, 3287]
booo = [148, 270, 571, 1195, 1400, 1387, 1947, 1962, 2275, 2282, 2457, 2803, 3106, 3414, 4308]
booo_pred = [4783, 4894, 5088, 5107, 5184]

In [44]:
titles[titles['MovieID'].isin(me_gusta)]

      MovieID    Year                                              Title
12         13  2003.0  Lord of the Rings: The Return of the King: Ext...
190       191  2003.0                                   X2: X-Men United
208       209  1996.0               Star Trek: Deep Space Nine: Season 5
315       316  1999.0      Futurama: Monster Robot Maniac Fun Collection
344       345  1998.0                       Star Trek: Voyager: Season 5
467       468  2003.0                            The Matrix: Revolutions
559       560  2003.0                    Star Trek: Enterprise: Season 3
751       752  1993.0           Star Trek: The Next Generation: Season 7
1065     1066  1978.0                                Superman: The Movie
1550     1551  2004.0                       Spider-Man 2: Bonus Material
1600     1601  2004.0  J.R.R. Tolkien and the Birth of The Lord of th...
1904     1905  2003.0  Pirates of the Caribbean: The Curse of the Bla...
2188     2189  1981.0               The Hitchhiker's Guide to the Galaxy
2251     2252  1992.0                              Bram Stoker's Dracula
5506     5507  2002.0              Dragon Ball: Fortune Teller Baba Saga

In [42]:
titles[titles['MovieID'].isin(me_gusta_pred)]

      MovieID    Year                                              Title
2451     2452  2001.0      Lord of the Rings: The Fellowship of the Ring
2531     2532  1999.0                                   Futurama: Vol. 1
2688     2689  2002.0                    Minority Report: Bonus Material
3011     3012  2001.0                    Dragon Ball Z: World Tournament
3286     3287  2003.0  Terminator 3: Rise of the Machines: Bonus Mate...

In [45]:
titles[titles['MovieID'].isin(booo)]

      MovieID    Year                                              Title
147       148  2001.0                                     Sweet November
269       270  2001.0                         Sex and the City: Season 4
570       571  1999.0                                    American Beauty
1194     1195  1988.0          Madonna: The Girlie Show: Live Down Under
1386     1387  1999.0                                 The Girl Next Door
1399     1400  2000.0   Britney Spears: Britney in Hawaii: Live and More
1946     1947  2002.0                            Gilmore Girls: Season 3
1961     1962  2004.0                                     50 First Dates
2274     2275  2001.0             Madonna: What It Feels Like for a Girl
2281     2282  2005.0  Disney Princess Stories: Vol. 2: Tales of Frie...
2456     2457  2004.0                                 A Cinderella Story
2802     2803  1995.0                                Pride and Prejudice
3105     3106  1990.0                                              Ghost
3413     3414  1995.0                                         Pocahontas
4307     4308  1999.0                               Beauty and the Beast

In [46]:
titles[titles['MovieID'].isin(booo_pred)]

      MovieID    Year                                        Title
4782     4783  1999.0                           Felicity: Season 2
4893     4894  1998.0         Celia Cruz: Fania Allstars in Africa
5087     5088  1987.0                Dirty Dancing: Bonus Material
5106     5107  2001.0  Barbra Streisand: Timeless: Live in Concert
5183     5184  2000.0                  'N Sync: Making of the Tour